 .nav-item .NavLink:active{
    border-bottom: 2px solid white;

 }
 .nav-item .nav-link{
    border-bottom: 2px solid transparent;
 }
 .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
 }

 @keyframes up-down {
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
 }